<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream Channels</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Stream Channels</h1>

    <ul>
        {% for key, value in channels.items() %}
            <li>
                <a href="{{ url_for('stream', stream_channel=key) }}">
                    <button>{{ value }}</button>
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
