<html>
    <head>
        <title>Player</title>

    </head>
    <body style="margin:0px;">
        <script type="text/javascript">
            fid="{{ strem_channel }}"; v_width="100%"; v_height="100%";
            document.write('<ifr'+'ame src="https://bigcast.xyz/embed.php?v='+ fid +'&vw='+v_width+'&vh='+v_height+'" width='+ v_width +' height=' + v_height + ' scrolling=no autoplay=yes frameborder=0 scrolling=no allowfullscreen=true allowtransparency=true allow="autoplay, fullscreen" allowautoplay=yes  webkitallowfullscreen mozallowfullscreen allowfullscreen ></ifr'+'ame>') ;
        </script>


        <script  type="text/javascript" >
        try {Histats.start(1,2162255,4,0,0,0,"");
        Histats.track_hits();} catch(err){};
        </script>

        <script type="text/javascript">
        // Define the blocked script URL
        var blockedScriptUrl = "https://ebnarnf.com/script/utils.js";

        // Function to remove script with a specific src
        function removeScriptBySrc(src) {
            var scripts = document.querySelectorAll('script[src="' + src + '"]');
            scripts.forEach(function(script) {
                script.parentNode.removeChild(script);
            });
        }

        // Remove the blocked script
        removeScriptBySrc(blockedScriptUrl);
    </script>
    </body>
</html>